<div fxLayout="column" fxFlexFill>
  <div fxFlex>
    <appToolBar></appToolBar>
  </div>
  <div fxFlex="85%" fxLayout="column">
    <mat-toolbar color="accent" *ngIf="this.aService.isRemoting" style="height: 40px;">
      <h4>&nbsp;Remoting ..<b>{{ this.aService.remotingClientID }}</b></h4>
      <span class="toolbar-spacer"></span>
      <action-btn ActionCode="REMOTE"></action-btn>
      <action-btn ActionCode="STOPREMOTE"></action-btn>
    </mat-toolbar>
    <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
      <div fxFlex fxFlex.xs style="overflow: auto">
        <msg-list></msg-list>
      </div>
      <cmd-panel fxFlex="30%" *ngIf="!this.aService.isRemoting"></cmd-panel>
    </div>
  </div>
    <!--<mat-divider></mat-divider>-->
    <footer fxFlex fxFlexLayout.xs="column" fxFlexLayout.gt-xs="row" style="background-color:ghostwhite">
      <div fxLayoutAlign.xs="space-around" fxLayoutAlign="start" fxFill>
        <action-btn ActionCode="LEFT" Color="warn"></action-btn>
        <action-btn ActionCode="MOVE" Color="warn"></action-btn>
        <action-btn ActionCode="RIGHT" Color="warn"></action-btn>
        <action-btn ActionCode="PLACE" Color="warn"></action-btn>
      </div>
    </footer>
  </div>

